html {
    font-size: 8px;
}
body {
    color: #24292e;
	font-family: "M PLUS 1p";
}

a {
    text-decoration: none;
}

p {
    font-size: 3rem;
}

img {
    max-width: 100%;
}

ol, ul, li{
	list-style: none;
}

li{
    font-size: 1rem;
}

.wrapper {
    max-width: 1240px;
    margin: 0 auto 130px auto;
    font-size: 3rem;
    padding: 0 10%;
}

.site-title{
    line-height: 1px;
    font-weight: 600px;
    font-size: 2rem;
}

.site-title a {
    font-size: 4rem;
    color: #24292e;
}

.sec-title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 65px;
}

#top_img{
    display: block;
    align-items: center;
    position: relative;
    margin: 60px 0;
}

#top_img img{
    filter: brightness(80%);
    width: 100%;
    max-height: 350px;
    object-fit: cover;
}

#top_img p{
    color: rgb(129, 220, 248);
    font-size: 9rem;
    position: absolute;
    margin: 10px 0;
}

#name {
    top: 40%;
    left: 5%;
}

#qualification {
    top: 75%;
    left: 8%;
    overflow: clip;
}

#header {
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px auto;
    padding: 0 4%;
    height: 170px;
}

#header ul {
    display: flex;
    padding: 10px 0;
    align-items: center;
}

#header li {
    font-size: 2.5rem;
    margin-left: 70px;
}

#header ul li a {
    color: #24292e;
    transition: all 0.3s;
}

#header ul li a:hover {
    opacity: 0.5;
}

#header li img.icon {
    width: 30px;
}

#about{
    margin: 1% auto;
}

#works{
    margin: 1% auto;
}

#works h2 {
    margin-bottom: 30px;
}

#works ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
    margin: 0 50px 5%;
}

#works ul p a {
    color: #1c2024;
    position: relative;
	transition: 0.3s;
}

#works ul p a::before{
	content: "";
	position: absolute;
	left: 0;
	bottom: -3px;
	width: 0;
	height: 2px;
	background: #1c2024;
	transition: 0.3s;
}

#works ul p a:hover::before{
	width: 100%;
}

#works ul li {
    width: 31%;
    margin-bottom: 23px;
}

#works ul li a {
    color: #1c2024;
}

#works ul li img {
    cursor: pointer;
    transition: all 0.3s;
}

#works ul li img:hover {
    transform: scale(1.2, 1.2);
    opacity: 0.7;
}

#contents{
    margin: 1% auto;
}

.contact_method img{
    width: 25px;
}

#copyright {
    margin: 0 auto;
}

#copyright p{
    text-align: center;
    font-size: 2rem;
}

@media screen and (max-width: 600px) {
    .site-title {
        margin-top: 20px;
    }

    #top_img p {
        opacity: 0.0;
    }

    #header {
        flex-direction: column;
        height: auto;
        line-height: 40px;
        margin-top: 20px;
    }

    #header li {
        margin-left: 20px;
        font-size: 20px;
    }

    #header li img.icon {
        width: 20px;
        margin-top: 15px;
    }

    /* works */
    #works ul {
        flex-direction: column;
    }

    #works ul li {
        width: 100%;
    }

    #hooter {
        flex-direction: column;
        height: auto;
        line-height: 40px;
        margin-top: 20px;
    }
}